.accordion {
	border: 1px black dashed;
	border-radius: 5px;
	padding: 5px;
	width: 600px;
}

.accordion-heading {
	border: 1px white solid;
	background-color: black;
	color: white;
	border-radius: 10px;
	padding: 1px 5px;
}

.accordion-content {
	border: 1px black solid;
	border-radius: 10px;
	padding: 10px;
}